# Ignore Terraform local state and temporary directories
# Local Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Terraform local directory
.terraform/

# Variable files containing secrets
*.tfvars
*.tfvars.json